body{
	color:rgba(0,0,0,0.5);
	text-align: center;
	letter-spacing: .5em;
	top:15%;
	background: linear-gradient(to right, red , yellow);
}
h1{
	font: 600 3.5em 'arial',sans-serif;
	color:rgba(0,0,12,0.5);
	text-align: center;
	letter-spacing: .5em;
	width:100%;
}
button.btn{
	background-color:  rgba(0,0,0,0.1);
	border-radius: 20px;
	font-family: 'Great Vibes', cursive;
	font-size: 20px;
	padding:5px 30px 5px 30px;
	font-weight: 1000;
	border:none;
	transition:0.2s;
}
.btn:hover{
	transform: scale(1.0);
	cursor: pointer;
	
}
